<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PM Click Review Log work</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js"></script>

	<link rel="stylesheet" href="WLS-PM020103.css">

	<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>


	<script src="/js/jquery.twbsPagination.js" type="text/javascript" th:src="@{/js/jquery.twbsPagination.js}"></script>


	<link rel="stylesheet" href="dist/css/bootstrap-multiselect.css" type="text/css">
	<script type="text/javascript" src="dist/js/bootstrap-multiselect.js"></script>

	<!-- <script src="https://code.highcharts.com"></script> -->

</head>
<style>

</style>

<body>
	<article>
		<header>
			<!--Navbar -->
			<nav class="mb-1 navbar navbar-expand-md navbar-dark styleHeader1">
				<div class="collapse navbar-collapse" id="">
					<span class="rowHeader-left" style="margin-left: 7%; color: white;">06/10/2020
						&#9728; 28 &#8451; <span class="fa fa-map-marker"></span> Đà Nẵng
					</span>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> TuND (PM)
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info"
								aria-labelledby="navbarDropdownMenuLink-4" style="margin-top: -8%;">
								<a class="dropdown-item styleLogout" href="/vi/admin/manage-users">VI</a> <a
									class="dropdown-item styleLogout" href="/en/admin/manage-users">EN</a> <a
									class="dropdown-item styleLogout" href="#">Log Out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<nav class="mb-1 navbar navbar-expand-sm navbar-dark bg-light styleHeader2">
				<div class="collapse navbar-collapse" id="">
					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link" href="" id="clickHome" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link active" href="" id="clickHome" th:href="@{/}">My
								Projects</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container-fluid text-center styleContainer">
			<div class="styleSearch">
				<form id="formGetData" action="" method="get">
					<div class="row" style="margin: 0px">
						<div class="col-sm-12 styleSearch2">
							<div class="form-group row styleSearch3">

								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">From</label>
										<div class="col-sm-9">
											<input type="date" name="" id="" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">To</label>
										<div class="col-sm-9">
											<input type="date" name="" id="" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Role</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">TL</option>
												<option class="form-control" value="">PTL</option>
												<option class="form-control" value="">DEV</option>
												<option class="form-control" value="">TEST</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Product</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">Product 1</option>
												<option class="form-control" value="">Product 2</option>
												<option class="form-control" value="">Product 3</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Type</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">Create</option>
												<option class="form-control" value="">Edit</option>
												<option class="form-control" value="">Test</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-1">
									<button id="clickClear" type="reset" class="btn btn-outline-primary"
										style="width: 100%;">Clear</button>
								</div>
								<div class="col-sm-1">
									<button id="clickSearch" type="submit" class="btn btn-outline-primary"
										style="width: 100%;">Search</button>
								</div>

							</div>

						</div>
					</div>
				</form>
				<br>
				<b style="font-size: 20px;color: rgb(19, 120, 235);">Log works List</b>
				<div style="border: 2px solid green;">
					<table class="table table-striped" style="border-radius: 8px;">
						<thead>
							<tr class="styleTable1">
								<th scope="col" class="tableFixWidth th-sm" style="width: 8%;text-align: center;">#</th>
								<th scope="col" class="tableFixWidth" style="width: 10%;">Account</th>
								<th scope="col" class="tableFixWidth" style="width: 12%;">Start Date</th>
								<th scope="col" class="tableFixWidth" style="width: 12%;">Finish Date</th>
								<th scope="col" class="tableFixWidth" style="width: 9%;">Role</th>
								<th scope="col" class="tableFixWidth" style="width: 11%;">Product</th>
								<th scope="col" class="tableFixWidth" style="width: 9%;">Type</th>
								<th scope="col" class="tableFixWidth" style="width: 8%;">Content</th>
								<th scope="col" class="tableFixWidth" style="width: 11%;text-align: center;">Feed Back
								</th>
								<th scope="col" class="tableFixWidth" style="width: 1%;">
									<input type="checkbox" class="styleCheckBox styleCheckBox">
								</th>
							</tr>
						</thead>

						<tbody>
							<tr>
								<td id="" class="styleTextColGi">1</td>
								<td id="" class="styleTextColTr">TuND28</td>
								<td id="" class="styleTextColTr">02/08/2020</td>
								<td id="" class="styleTextColTr">02/08/2020</td>
								<td id="" class="styleTextColTr">PTL</td>
								<td id="" class="styleTextColTr">Product2</td>
								<td id="" class="styleTextColTr">Create</td>
								<td id="" class="styleTextColTr">
									<button type="button" class="btn btn-outline-primary" data-toggle="modal"
										data-target="#exampleModalLong" style="font-size: 88%;">READ</button>
								</td>
								<td>
									<div class="example">
										<script type="text/javascript">
											$(document).ready(function () {
												$('#example-getting-started').multiselect();
											});
										</script>
										<select id="example-getting-started" multiple="multiple">
											<option value="1">Sai ngày</option>
											<option value="2">Nhiều ngày</option>
											<option value="3">Ít Ngày</option>
											<option value="4">Sai giờ</option>
											<option value="5">Ít giờ</option>
											<option value="6">Nhiều giờ</option>
											<option value="7">Sai sản phẩm</option>
											<option value="8">Sai công việc</option>
											<option value="9">Sai nội dung</option>
										</select>
									</div>

								</td>
								<td>
									<input type="checkbox" class="styleCheckBox styleCheckBox" style="margin-top: 4%;">
								</td>
							</tr>
							<tr>
								<td id="" class="styleTextColGi">1</td>
								<td id="" class="styleTextColTr">TuND28</td>
								<td id="" class="styleTextColTr">02/08/2020</td>
								<td id="" class="styleTextColTr">02/08/2020</td>
								<td id="" class="styleTextColTr">PTL</td>
								<td id="" class="styleTextColTr">Product2</td>
								<td id="" class="styleTextColTr">Create</td>
								<td id="" class="styleTextColTr">
									<button type="button" class="btn btn-outline-primary" data-toggle="modal"
										data-target="#exampleModalLong" style="font-size: 88%;">READ</button>
								</td>
								<td>
									<div class="example">
										<script type="text/javascript">
											$(document).ready(function () {
												$('#example-getting-started2').multiselect();
											});
										</script>
										<select id="example-getting-started2" multiple="multiple">
											<option value="1">Sai ngày</option>
											<option value="2">Nhiều ngày</option>
											<option value="3">Ít Ngày</option>
											<option value="4">Sai giờ</option>
											<option value="5">Ít giờ</option>
											<option value="6">Nhiều giờ</option>
											<option value="7">Sai sản phẩm</option>
											<option value="8">Sai công việc</option>
											<option value="9">Sai nội dung</option>
										</select>
									</div>

								</td>
								<td>
									<input type="checkbox" class="styleCheckBox styleCheckBox" style="margin-top: 4%;">
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<button id="" type="button" class="btn btn-outline-danger" data-dismiss="modal"
										style="width: 120px;">Feed Back</button>
								</td>
								<td></td>
							</tr>





						</tbody>
					</table>




				</div>


				<!-- Modal Content Log -->
				<!--  -->
				<form id="popup" action="" th:action="@{/}" method="get">
					<div class="modal fade" id="exampleModalLong" role="dialog" aria-labelledby="exampleModalLongTitle"
						aria-hidden="true" style="margin-top: 5%; margin-left: -6%;">
						<div class="modal-dialog" role="document">
							<div class="modal-content" style="border-color: rgb(0, 247, 255); width: 120%;">
								<div class="modal-header">
									<b class="modal-title" id="exampleModalLongTitle"
										style="padding-left: 30%; font-size: 19px;">"Account" Log Work Content</b>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div id="modalBody" class="modal-body">
									<div
										style="background-color: white;width: 90%; height: 77%;margin-left: 5%;margin-top: 4%;text-align: start;">
										<p class="normal-wr" style="font-size: 18px;"> Đây là nội dung mà Account đó đã
											Log : Ví dụ Log sản phẩm Product 1
											chức năng abc.
										</p>
									</div>

								</div>
								<div class="modal-footer" style="float: left;">
									<button id="" type="button" class="btn btn-danger" data-dismiss="modal"
										style="width: 120px;">Close</button>
								</div>
							</div>
						</div>
					</div>
				</form>

				
			</div>
		</main>

		<br>

		<div class="asd" style="margin-left: 8%; margin-right: 8%;">
			<div class="row" style="margin: 0px">
				<div class="col-sm-12">
					<div class="form-group row" style="margin-top: 1%; text-align: center;">
						<div class="col-sm-4">
							<div>
								<p class="styleInfoPage">
									<span>Totals :</span> 20 <span> Items / </span> 4 <span>Page</span>
									<span>&nbsp;</span>
								</p>
								&nbsp; &nbsp; &nbsp;
								<input id="inputPage" class="form-control styleInputPage" type="text"> &nbsp;
								<button id="" class="btn btn-outline-primary styleBtnGo">Go</button>
							</div>
						</div>
						<div class="col-sm-6">
							<ul class="pagination" id="pagination" style="margin-left: 15%;margin-top:5px;"></ul>
						</div>


						<div class="col-sm-1">
							<a id="" href="" class="btn btn-outline-primary styleButtonReset">Reload</a>
						</div>

						<div class="col-sm-1">
							<a id="" href="" class="btn btn-outline-primary styleButtonBack">
								Back</a>
						</div>


					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer2">
				<i><b>A2Z Team</b></i>
			</div>
		</footer>

	</article>

	<script type="text/javascript">
		$(function () {
			window.pagObj = $('#pagination').twbsPagination({
				totalPages: 35,
				visiblePages: 5,
				onPageClick: function (event, page) {
					console.info(page + ' (from options)');
				}
			}).on('page', function (event, page) {
				console.info(page + ' (from event listening)');
			});
		});
	</script>

	<script src="text/javascript">
		$(document).ready(function () {
			$('.abcd').multiselect();

		});
	</script>
</body>

</html>