@import "/cssviews/frameWeb.css";


.styleButtonManage1{
    /* style="margin-top: 10%;height: 200px;display: inline-block;" */
    height: 150px;
    display: inline-block;
    margin: 8%;

}


.styleButtonManage2{
    /* style="height: 200px;border: 1px solid rgb(20, 104, 201); border-radius: 10px;" */
    height: 150px; font-weight: 900;
    border: 1px solid rgb(20, 104, 201); border-radius: 10px ;
    font-size: 25px;
}