<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Manage Members</title>


<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
	rel="stylesheet">
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="js/popper.min.js" th:src="@{/js/popper.min.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>


<link rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
<link rel="stylesheet" href="css/font-awesome.min.css"
	th:href="@{/css/font-awesome.min.css}">
<script src="js/jquery-1.11.1.min.js"
	th:src="@{/js/jquery-1.11.1.min.js}"></script>

<link rel="stylesheet" href="/cssviews/admin/ManageMembers/WLS-AD02.css"
	th:href="@{/cssviews/admin/ManageMembers/WLS-AD02.css}">

<!-- <link rel="stylesheet" href="cssviews/admin/WLS-AD01.css" th:href="@{/cssviews/admin/WLS-AD01.css}"> -->
<!-- <script src="https://code.highcharts.com"></script> -->

</head>
<style>
</style>

<body>

	<article>

		<header>
			<!--Navbar -->
			<nav class="mb-1 navbar navbar-expand-md navbar-dark styleHeader1">
				<div class="collapse navbar-collapse" id="">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false"> <i
								class="fas fa-user"></i> TuND
						</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info"
								aria-labelledby="navbarDropdownMenuLink-4"
								style="margin-top: -8%;">
								<a class="dropdown-item styleLogout" href="#">Log out</a>
							</div></li>
					</ul>
				</div>
			</nav>
			<nav
				class="mb-1 navbar navbar-expand-sm navbar-dark bg-light styleHeader2">
				<div class="collapse navbar-collapse" id="">


					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link active" href="#">Home</a>
						</li>

					</ul>
				</div>

			</nav>
		</header>



		<main class="container-fluid text-center styleContainer">
			<div class="styleSearch">
				<div class="row" style="margin: 0px">
					<div class="col-sm-12 styleSearch2">
						<div class="form-group row styleSearch3">

							<label for="" class="col-sm-1 col-form-label">Account</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="searchAccount"
									placeholder="Account" style="margin-left: -10px;">
							</div>

							<label for="" class="col-sm-1 col-form-label">Full Name</label>
							<div class="col-sm-2">
								<input type="text" class="form-control" id="searchFullName"
									placeholder="Full Name">
							</div>

							<label for="" class="col-sm-1 col-form-label"
								style="text-align: center;">Role</label>
							<div class="col-sm-1">
								<select name="" id="" class="form-control"
									style="margin-left: -25px">
									<option value="">All</option>
									<option value="">PM</option>
								</select>
							</div>

							<label for="" class="col-sm-1 col-form-label"
								style="text-align: center;">Phone</label>
							<div class="col-sm-1.5">
								<input type="text" class="form-control" id=""
									style="margin-left: 0px">
							</div>

							<div class="col-sm-1">
								<button type="button" class="btn btn-outline-primary"
									style="width: 120px; margin-left: 30%;">Search</button>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div style="border: 2px solid green;">
					<table class="table table-striped" style="border-radius: 8px;">
						<thead>
							<tr class="styleTable1">
								<th scope="col" class="tableFixWidth" style="width: 7%;"></th>
								<th scope="col" class="tableFixWidth" style="width: 11%;">Account</th>
								<th scope="col" class="tableFixWidth" style="width: 14%;">Full
									Name</th>
								<th scope="col" class="tableFixWidth" style="width: 11%;">PM</th>
								<th scope="col" class="tableFixWidth" style="width: 11%;">Gender</th>
								<th scope="col" class="tableFixWidth"
									style="width: 11%; text-align: start;">Phone</th>
								<th scope="col" class="tableFixWidth" style="width: 10%;"></th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="list,i : ${listAllMembers}">
								<td th:id=${i.count} id="" style="text-align: center;"
									th:text="${i.count}"></td>
								<td th:id="account+${i.count}" id="" th:text="${list.account}"
									class="styleTextCol1"></td>
								<td th:id="fullName+${i.count}" id="" th:text="${list.fullName}"
									class="styleTextCol1"></td>
								<td th:id="role+${i.count}" id="" th:text="${list.pm}"
									class="styleTextCol1"></td>
								<td th:id="gender+${i.count}" id="" th:text="${list.gender}"
									class="styleTextCol1"></td>
								<td th:id="phoneNumber+${i.count}" id=""
									style="text-align: center;" th:text="${list.phone}"></td>
								<td><button type="button"
										class="btn btn-outline-danger editMember" data-toggle="modal"
										data-target="#exampleModalLong"
										style="width: 80px; float: right;">Edit</button></td>
							</tr>
						</tbody>
					</table>
				</div>

				<!-- Modal -->
				<form id="popup" action="" th:action="@{/admin/manage-members/save}"
					th:object="${objectUser}" method="post">
					<div class="modal fade" id="exampleModalLong" role="dialog"
						aria-labelledby="exampleModalLongTitle" aria-hidden="true"
						style="margin-top: 5%; margin-left: -8%;">
						<div class="modal-dialog" role="document">
							<div class="modal-content"
								style="border-color: rgb(0, 247, 255); width: 120%; boder-radius: 10px;">
								<div class="modal-header">
									<h6 class="modal-title" id="exampleModalLongTitle"
										style="padding-left: 42%;"></h6>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div
										style="background-color: white; width: 90%; height: 77%; margin-left: 5%; margin-top: 4%;">
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Account</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="popupAccount"
													placeholder="Account" th:field="*{account}">
											</div>
										</div>
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Full
												Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="popupFullName"
													placeholder="FullName" th:field="*{fullName}">
											</div>
										</div>
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Gender</label>
											<div class="col-sm-9">
												<select name="" id="" class="form-control"
													th:field="*{gender}">
													<option class="optionGender" value="" th:value="Male">Male</option>
													<option class="optionGender" value="" th:value="Female">Female</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">PM</label>
											<div class="col-sm-9">
												<select name="" id="" class="form-control"
													th:field="${objectUser.pm}">
													<option class="optionRole" th:value="false" value="">No</option>
													<option class="optionRole" th:value="true" value="">Yes</option>
												</select>
											</div>
										</div>
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Phone</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="popupPhone"
													placeholder="Phone" th:field="*{phone}">
											</div>
										</div>
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Password</label>
											<div id="stylePassWord" class="col-sm-6">
												<input type="password" class="form-control"
													id="popupPassword" placeholder="Password" readonly
													th:field="*{passWord}">
											</div>
											<div class="col-sm-2">
												<button id="clickChangePassword" type="button"
													class="btn btn-outline-danger changePassword"
													style="width: 90px;">Change</button>
											</div>
										</div>
										<p style="text-align: center;">Đây là dòng lỗi!</p>
									</div>


								</div>
								<div class="modal-footer" style="float: left;">

									<button id="clickCancel" type="submit" class="btn btn-danger"
										data-dismiss="modal" style="width: 120px;">Cancel</button>
									&#160;&#160;&#160;
									<button id="clickUpdate" type="submit" class="btn btn-success"
										style="width: 120px;"></button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</main>




		<div class="asd" style="margin-left: 7%; margin-right: 7%;">
			<div class="row" style="margin: 0px">
				<div class="col-sm-12">
					<div class="form-group row"
						style="margin-top: 1%; text-align: center;">

						<div class="col-sm-2">
							<button id="" type="button"
								class="btn btn-outline-primary editMember" data-toggle="modal"
								data-target="#exampleModalLong" style="width: 120px;">Create</button>
						</div>
						<div class="col-sm-8">
							<ul class="pagination justify-content-center">
								<li class="page-item "><a class="page-link" href="#"> <span
										aria-hidden="true">&#171;</span>
								</a></li>
								<li class="page-item "><a class="page-link" href="#">1</a></li>
								<li class="page-item active "><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>

								<li class="page-item "><a class="page-link" href="#">4</a></li>

								<li class="page-item"><a class="page-link" href="#">5</a></li>
								<li class="page-item disabled"><a class="page-link"
									href="#"> <span aria-hidden="true">&#187;</span>
								</a></li>
							</ul>

						</div>
						<div class="col-sm-2">
							<button id="" type="submit" class="btn btn-outline-primary"
								style="width: 120px; float: right; margin-right: 10%;">
								Back</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer2" style="margin-top: 1%;">
				<i><b>A2Z Team</b></i>
			</div>
		</footer>





	</article>









	<script>
		$(document).ready(function() {
			var A = null;

			$("#clickUpdate").click(function() {
				$(".modal").hide();
				if ($(this).text() == "Create") {
					alert("Added !!!");
				} else {
					alert("Updated !!!");
					$("#popup").sumbit("put");

				}
			});
			$("#clickChangePassword").click(function() {
				$("#popupPassword").prop("readOnly", false);
			});

			$(".editMember").click(function() {
				A = $(this).index(".editMember") + 1;

				var indexRowClick = $(this).index(".editMember") + 1;
				var colAccount = "#account" + indexRowClick;
				var colFullName = "#fullName" + indexRowClick;
				var colRole = "#role" + indexRowClick;
				var colGender = "#gender" + indexRowClick;
				var colPhone = "#phoneNumber" + indexRowClick;

				if ($(this).text() == "Create") {
					$("#exampleModalLongTitle").text("Create User");
					$("#clickUpdate").text("Create");
					$("#popupPassword").prop("readOnly", false);
					$("#clickChangePassword").prop("disabled", true);
					$("#popupAccount").prop("disabled", false);
				} else {
					$("#exampleModalLongTitle").text("Edit User");
					$("#clickUpdate").text("Update");
					$("#popupAccount").prop("readOnly", true);
					$("#clickChangePassword").prop("disabled", false);
				}

				$("#popupAccount").val($(colAccount).text())
				$("#popupTitle").text($(colAccount).text())
				$("#popupFullName").val($(colFullName).text())
				$(".optionRole").each(function() {
					if ($(this).text() == $(colRole).text()) {
						$(this).prop("selected", true);
					}
				});
				$(".optionGender").each(function() {
					if ($(this).text() == $(colGender).text()) {
						$(this).prop("selected", true);
					}
				});
				$("#popupPhone").val($(colPhone).text())
				$("#popupPassword").val("1236512635")
				$(".modal").show();
			});

			$("#clickCancel").click(function() {
				$(".modal").hide();
				$("#popupPassword").prop("readOnly", true);
			});

			$(".editMember").mouseenter(function() {
				$(this).css("cursor", "pointer");
			});
			$(window).on('click', function(e) {
				if ($(e.target).is('.modal')) {
					$(".modal").hide();
					$("#popupPassword").prop("readOnly", true);
				}
			});
			$(".close").click(function() {
				$(".modal").hide();
				$("#popupPassword").prop("readOnly", true);
			});
		});
	</script>
</body>

</html>