<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/admin/basicLayout}">
<!-- 	mục đính của layout:decorate="~{layouts/admin/basicLayout}"> là sử dụng layout layouts/admin/basicLayout-->

<head th:include="fragments/header :: head(pageTitle = 'ADMIN')">

<!-- mục đích của layout:fragment="body": nhúng toàn bộ body vào layouts/admin/basicLayout (layouts/admin/basicLayout đã được khai báo thông qua layout:decorate="~{layouts/admin/basicLayout}" )-->
<body layout:fragment="body">
	<div class="container-fluid">
		<div class="mx-md-5 mx-sm-2 mx-1 ">
			<!-- =================== Start fill in the information =================== -->
			<form id="formGetData" action="" method="get">
				<div class="border border-success">
					<div class="row m-0">
						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.account}"
									class="col-4 col-form-label"></label>
								<div class="col-8">
									<input type="text" class="form-control" id=""
										th:placeholder="#{wls.items.common.account}">
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.role}"
									class="col-4 col-form-label">Role</label>
								<div class="col-8">
									<select name="" id="" class="form-control">
										<option class="form-control"
											th:text="#{wls.items.common.role.all}" value="">ALL</option>
										<option class="form-control"
											th:text="#{wls.items.common.role.admin}" value="">ADMIN</option>
										<option class="form-control"
											th:text="#{wls.items.common.role.user}" value="">USER</option>
									</select>
								</div>
							</div>
						</div>

<!-- 						<div class="col-lg-4 col-sm-6 col-12"> -->
<!-- 							<div class="form-group row mt-3"> -->
<!-- 								<label for="" th:text="#{wls.items.common.role.isPM}" -->
<!-- 									class="col-4 col-form-label">Is PM</label> -->
<!-- 								<div class="col-8"> -->
<!-- 									<select name="" id="" class="form-control"> -->
<!-- 										<option class="form-control" -->
<!-- 											th:text="#{wls.items.common.true}" value="">TRUE</option> -->
<!-- 										<option class="form-control" -->
<!-- 											th:text="#{wls.items.common.false}" value="">FALSE</option> -->
<!-- 									</select> -->
<!-- 								</div> -->
<!-- 							</div> -->
<!-- 						</div> -->

						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.gender}"
									class="col-4 col-form-label">Gender</label>
								<div class="col-8">
									<select name="" id="" class="form-control">
										<option class="form-control"
											th:text="#{wls.items.common.gender.male}" value="">MALE</option>
										<option class="form-control"
											th:text="#{wls.items.common.gender.female}" value="">FEMALE</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.enable}"
									class="col-4 col-form-label">Enable</label>
								<div class="col-8">
									<select name="" id="" class="form-control">
										<option class="form-control"
											th:text="#{wls.items.common.true}" value="">TRUE</option>
										<option class="form-control"
											th:text="#{wls.items.common.false}" value="">FALSE</option>
									</select>
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.phone}"
									class="col-4 col-form-label">Phone</label>
								<div class="col-8">
									<input type="text" class="form-control" id=""
										th:placeholder="#{wls.items.common.phone}">
								</div>
							</div>
						</div>

						<div class="col-lg-4 col-sm-6 col-12">
							<div class="form-group row mt-3">
								<label for="" th:text="#{wls.items.common.fullname}"
									class="col-4 col-form-label pr-0">Full Name</label>
								<div class="col-8">
									<input type="text" class="form-control" id=""
										th:placeholder="#{wls.items.common.fullname}">
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3 m-0">
						<div class="col-md-8 col-sm-6"></div>
						<div class="col-md-2 col-sm-3 col-12 mt-3">
							<button id="clickClear" type="reset"
								th:text="#{wls.items.common.clear}"
								class="btn btn-outline-primary btn-block">Clear</button>
						</div>
						<div class="col-md-2 col-sm-3 col-12 mt-3">
							<button id="clickSearch" type="submit"
								th:text="#{wls.items.common.search}"
								class="btn btn-outline-primary btn-block">Search</button>
						</div>
					</div>
				</div>
				<!-- =================== End fill in the information =================== -->
				<div class="row">
					<div class="col-12 mt-5">
						<h3 th:text="#{wls.title.admin.memberList}"
							class="text-center text-primary">Members List</h3>
					</div>
				</div>
				<div class="border border-success ">
					<div class="table-responsive">
						<table class="table table-striped table-hover">
							<thead>
								<tr class="bg-success">
									<th scope="col" th:text="#{wls.items.common.number}">#</th>
									<th scope="col" th:text="#{wls.items.common.account}">Account</th>
									<th scope="col" th:text="#{wls.items.common.fullname}">Full
										Name</th>
									<th scope="col" th:text="#{wls.items.common.highestRole}">Role</th>
<!-- 									<th scope="col" th:text="#{wls.items.common.role.isPM}">IS -->
<!-- 										PM</th> -->
									<th scope="col" th:text="#{wls.items.common.gender}">Gender</th>
									<th scope="col" th:text="#{wls.items.common.phone}">Phone</th>
									<th scope="col" th:text="#{wls.items.common.enable}">Enable</th>
									<th scope="col" th:text="#{wls.items.common.action}">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="user, state : ${listUser}">
									<td th:text="${state.count}">1</td>
									<td th:text="${user.account}">TuND14</td>
									<td th:text="${user.fullName}">Nguyen Duy Tu</td>
									<td th:text="${user.roleLogin}">Admin</td>
									<td th:text="${user.gender}">Male</td>
									<td th:text="${user.phone}">0344109790</td>
									<td th:text="${user.enable}">True</td>
									<td>
										<button type="button" class="btn btn-outline-danger btn-block"
											data-toggle="modal" data-target="#modal-edit">Edit</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
			<div class=" mt-2">
				<div class="row m-0">
					<div class="col-lg-6 col-12 mb-3">
						<div class="div">
							<span th:text="#{wls.items.common.infoPage(${'20'}, ${'4'})}">Totals
								: 20 Items / 4 Page</span> <input id="inputPage"
								class="form-control d-inline-block w-25" type="text">
							<button id="clickGetPageByInput" th:text="#{wls.items.common.go}"
								class="btn btn-outline-primary ml-2">Go</button>
						</div>
					</div>
					<div class="col-lg-6 col-12 overflow-auto">
						<ul class="pagination ml-auto" id="pagination"></ul>
					</div>
				</div>
				<div class="row mb-3 m-0">
					<div class="col-md-6 col-sm-3"></div>
					<div class="col-md-2 col-sm-3 col-12 mt-3">
						<button id="create" type="reset"
							th:text="#{wls.items.common.create}"
							class="btn btn-outline-primary btn-block">Create</button>
					</div>
					<div class="col-md-2 col-sm-3 col-12 mt-3">
						<button id="" type="submit" th:text="#{wls.items.common.reload}"
							class="btn btn-outline-primary btn-block">Reload</button>
					</div>
					<div class="col-md-2 col-sm-3 col-12 mt-3">
						<button id="" type="submit" th:text="#{wls.items.common.back}"
							class="btn btn-outline-primary btn-block">Back</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="create-user" class="modal"></div>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function(){
			$("#create").click(function() {
				$.ajax({
					type: 'GET',
					url: [[@{/admin/create}]],
					data: "ok",
					success: function(data){
						$("#create-user").replaceWith(data);
						$("#create-user").modal('show');
// 						alert([[*{fullName}]])
					},
					error: function(xhr, error){
						console.debug(xhr);
						console.debug(error);
					}
				});
			});
		});
	</script>

</body>
</html>