<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PM Click Members</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" rel="stylesheet">
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="WLS-PM020101.css">
	<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<script src="/js/jquery.twbsPagination.js" type="text/javascript" th:src="@{/js/jquery.twbsPagination.js}"></script>
	<!-- <script src="https://code.highcharts.com"></script> -->
</head>
<style>

</style>

<body>
	<article>
		<header>
			<!--Navbar -->
			<nav class="mb-1 navbar navbar-expand-md navbar-dark styleHeader1">
				<div class="collapse navbar-collapse" id="">
					<span class="rowHeader-left" style="margin-left: 7%; color: white;">06/10/2020
						&#9728; 28 &#8451; <span class="fa fa-map-marker"></span> Đà Nẵng
					</span>

					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
								aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i> TuND
							</a>
							<div class="dropdown-menu dropdown-menu-right dropdown-info"
								aria-labelledby="navbarDropdownMenuLink-4" style="margin-top: -8%;">
								<a class="dropdown-item styleLogout" href="/vi/admin/manage-users">VI</a> <a
									class="dropdown-item styleLogout" href="/en/admin/manage-users">EN</a> <a
									class="dropdown-item styleLogout" href="#">Log Out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<nav class="mb-1 navbar navbar-expand-sm navbar-dark bg-light styleHeader2">
				<div class="collapse navbar-collapse" id="">
					<ul class="nav nav-pills">
						<li class="nav-item"><a class="nav-link" href="" id="clickHome" th:href="@{/}">Home</a>
						</li>
						<li class="nav-item"><a class="nav-link active" href="" id="clickHome" th:href="@{/}">My
								Projects</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="container-fluid text-center styleContainer">

			<div class="styleSearch">
				<form id="formGetData" action="" method="get">
					<div class="row" style="margin: 0px">
						<div class="col-sm-12 styleSearch2">
							<div class="form-group row styleSearch3">
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Account</label>
										<div class="col-sm-8">
											<input type="text" class="form-control" id="" placeholder="Account"
												style="width: 100%;">
										</div>
									</div>
								</div>
								
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Role</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">PM</option>
												<option class="form-control" value="">PTL</option>
												<option class="form-control" value="">DEV</option>
												<option class="form-control" value="">TEST</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Gender</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">Male</option>
												<option class="form-control" value="">FeMale</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Enable</label>
										<div class="col-sm-8">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">ALL</option>
												<option class="form-control" value="">True</option>
												<option class="form-control" value="">False</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">From</label>
										<div class="col-sm-9">
											<input type="date" name="" id="" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">To</label>
										<div class="col-sm-9">
											<input type="date" name="" id="" class="form-control">
										</div>
									</div>
								</div>
							</div>
							<div style="text-align: left;">
								<div class="form-group row" style="margin-bottom: 0px;">
									<div class="col-sm-2">
										<div class="form-group row">
											<label for="" class="col-sm-4 col-form-label">Phone</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" id="" placeholder="Phone">
											</div>
										</div>
									</div>
									
									<div class="col-sm-3">
										<div class="form-group row">
											<label for="" class="col-sm-3 col-form-label">Full Name</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="" placeholder="Full Name">
											</div>
	
										</div>
									</div>
									
									
									<div class="col-sm-5">

									</div>
									<div class="col-sm-1">
										<button id="clickClear" type="reset" class="btn btn-outline-primary"
											style="width: 100%;">Clear</button>
									</div>
									
									<div class="col-sm-1">
										<button id="clickSearch" type="submit" class="btn btn-outline-primary"
											style="width: 100%;">Search</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<b style="font-size: 20px;color: rgb(19, 120, 235);">Members List</b>
					<div style="border: 2px solid green;">
						
						<table class="table table-striped">
							<thead>
								<tr class="styleTable1">
									<th scope="col" class="tableFixWidth th-sm" style="width: 5%;text-align: center;">#
									</th>
									<th scope="col" class="tableFixWidth" style="width: 10%;">Account</th>
									<th scope="col" class="tableFixWidth" style="width: 12%;">Full Name</th>
									<th scope="col" class="tableFixWidth" style="width: 8%;">Role</th>
									<th scope="col" class="tableFixWidth" style="width: 11%; text-align: start;">Join Date</th>
									<th scope="col" class="tableFixWidth" style="width: 11%; text-align: start;">Modified Date</th>
									<th scope="col" class="tableFixWidth" style="width: 9%;">Gender</th>
									<th scope="col" class="tableFixWidth" style="width: 10%; text-align: start;">Phone</th>
									<th scope="col" class="tableFixWidth" style="width: 10%;">Work Date</th>
									<th scope="col" class="tableFixWidth" style="width: 8%;">Enable</th>
									<th scope="col" class="tableFixWidth" style="width: 12%;">
										<!-- <input type="checkbox" class="styleCheckBox styleCheckBox"> -->
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td id="" class="styleTextColGi">1</td>
									<td id="" class="styleTextColTr">TuND14</td>
									<td id="" class="styleTextColTr">Nguyen Duy Tu</td>
									<td id="" class="styleTextColTr">PTL</td>
									<td id="" class="styleTextColTr">02/08/2020</td>
									<td id="" class="styleTextColTr">02/08/2020</td>
									<td id="" class="styleTextColTr">Male</td>
									<td id="" class="styleTextColGi">0344109790</td>
									<td id="" class="styleTextColGi">12</td>
									<td id="" class="styleTextColTr">True</td>
									<td>
										<!-- <input type="checkbox" class="styleCheckBox"> -->
										<button type="button" class="btn btn-outline-danger"
											data-toggle="modal" data-target="#exampleModalLong3" style="width: 100%;">Edit</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
			</div>
			<!-- Modal Edit -->
			<!--  -->
			<form id="popup" action="" th:action="@{/}" method="get">
				<div class="modal fade styleModalUpdateRole1" id="exampleModalLong3" role="dialog"
					aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content" style="border-color: rgb(0, 247, 255); width: 90%;">
							<div class="modal-header">
								<b class="modal-title styleModalRemove1" id="exampleModalLongTitle2"> Edit
									Members "TuND14"</b>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="modalBody" class="modal-body" style="text-align: left;margin-left: 10%;">
								<div class="form-group row">
									<label for="" class="col-sm-4 col-form-label">Role</label>
									<div class="col-sm-7">
										<select name="" id="" class="form-control">
											<option class="form-control" value="">TL</option>
											<option class="form-control" value="">PTL</option>
											<option class="form-control" value="">DEV</option>
											<option class="form-control" value="">TEST</option>
										</select>
									</div>
								</div>
								<div class="form-group row">
									<label for="" class="col-sm-4 col-form-label">Enable</label>
									<div class="col-sm-7">
										<select name="" id="" class="form-control">
											<option class="form-control" value="">True</option>
											<option class="form-control" value="">False</option>
										</select>
									</div>
								</div>
							</div>
							<div class="modal-footer" style="float: left;">
								<button id="" type="submit" class="btn btn-danger styleModalUpdateRole4"
									data-dismiss="modal">Cancel</button>
								&#160;&#160;&#160;
								<button id="" type="submit"
									class="btn btn-success styleModalUpdateRole4">Update</button>
							</div>
						</div>
					</div>
				</div>
			</form>



			<!-- Modal Add Members -->
			<!--  -->
			<form id="popup" action="" th:action="@{/}" method="get">
				<div class="modal fade styleModalAdd1" id="exampleModalLong" role="dialog"
					aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content styleModalAdd2">
							<div class="modal-header">
								<b class="modal-title styleModalAdd3" id="exampleModalLongTitle">Add New Members</b>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="modalBody" class="modal-body">
								<div class="styleModalAdd4">
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Enter Account</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" id="popupAccount"
												placeholder="Account">
										</div>
										<div class="col-sm-3">
											<button type="button" class="btn btn-outline-primary"
												style="width: 100%;">Search</button>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-4 col-form-label">Result Search</label>
										<div class="col-sm-5">
											<select name="" id="" class="form-control">
												<option class="form-control" value="">TuND14</option>
												<option class="form-control" value="">TuND15</option>
												<option class="form-control" value="">TuND16</option>
											</select>
										</div>
										<div class="col-sm-3">
											<button type="button" class="btn btn-outline-primary"
												style="width: 100%;">Add</button>
										</div>
									</div>
									<div class="form-group row">
										<table class="table table-striped">
											<thead>
												<tr class="styleTable1" style="text-align: center;">
													<th scope="col" class="tableFixWidth styleModalAdd5">
														Account</th>
													<th scope="col" class="tableFixWidth" style="width: 20%;"></th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td id="" class="">TuND14</td>
													<td id="" class="styleTextCol1">
														<button type="button" class="btn btn-outline-primary"
															style="width: 100%;">Remove</button>
													</td>
												</tr>
												<tr>
													<td id="" class="">TuND14</td>
													<td id="" class="styleTextCol1">
														<button type="button" class="btn btn-outline-primary"
															style="width: 100%;">Remove</button>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="modal-footer" style="float: left;">
								<button id="" type="button" class="btn btn-outline-primary styleModalUpdateRole4"
									data-toggle="modal" data-target="#exampleModalLong4">Create</button>
								&#160;&#160;&#160;
								<button id="" type="button" class="btn btn-danger styleModalUpdateRole4"
									data-dismiss="modal">Cancel</button>
								&#160;&#160;&#160;
								<button id="" type="reset" class="btn btn-primary styleModalUpdateRole4">Clear</button>
								&#160;&#160;&#160;
								<button id="" type="button" class="btn btn-success styleModalUpdateRole4">Get
									Add</button>
								&#160;&#160;&#160;&#160;&#160;&#160;
							</div>
						</div>
					</div>
				</div>
			</form>

			<!-- Modal Create New Members -->
			<!--  -->
			<form id="popup" action="" th:action="@{/}" method="get">
				<div class="modal fade styleModalCreate1" id="exampleModalLong4" role="dialog"
					aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content styleModalCreate2">
							<div class="modal-header">
								<b class="modal-title styleModalCreate3" id="exampleModalLongTitle2"> Create
									Members</b>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div id="modalBody" class="modal-body">
								<div class="styleModalCreate4">
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">Account</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="popupAccount"
												placeholder="Account" th:field="*{account}">
										</div>

									</div>
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">Full Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="popupFullName"
												placeholder="FullName" th:field="*{fullName}">
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">Gender</label>
										<div class="col-sm-9">
											<select name="" id="" class="form-control" th:field="*{gender}">
												<option class="optionGender" value="" th:value="Male">Male</option>
												<option class="optionGender" value="" th:value="Female">Female
												</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">Phone</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" id="popupPhone" placeholder="Phone"
												th:field="*{phone}">
										</div>
									</div>
									<div class="form-group row">
										<label for="" class="col-sm-3 col-form-label">Password</label>
										<div id="stylePassWord" class="col-sm-9">
											<input type="password" class="form-control" id="popupPassword"
												placeholder="Password" th:field="*{passWord}">
										</div>

									</div>
									<p style="text-align: center;">Đây là dòng lỗi!</p>
								</div>

							</div>
							<div class="modal-footer" style="float: left;">
								<button id="" type="button" class="btn btn-danger styleModalUpdateRole4"
									data-dismiss="modal">Cancel</button>
								&#160;&#160;&#160;
								<button id="" type="button"
									class="btn btn-success styleModalUpdateRole4">Create</button>
							</div>
						</div>
					</div>
				</div>
			</form>



		</main>

		<br>

		<div class="styleOption">
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group row" style="margin-top: 1%; text-align: center;">
						<div class="col-sm-4">
							<div>
								<p class="styleInfoPage">
									<span>Totals :</span> 20 <span> Items / </span> 4 <span>Page</span>
									<span>&nbsp;</span>
								</p>
								&nbsp; &nbsp; &nbsp;
								<input id="inputPage" class="form-control styleInputPage" type="text"> &nbsp;
								<button id="clickGetPageByInput" class="btn btn-outline-primary styleBtnGo">Go</button>
							</div>
						</div>
						<div class="col-sm-5">
							<ul class="pagination" id="pagination" style="margin-left: 15%;margin-top:5px;"></ul>
						</div>
						<div class="col-sm-1" style="padding-left: 0px;">
							<button id="" type="button" class="btn btn-outline-primary editMember styleCreate"
								data-toggle="modal" data-target="#exampleModalLong">Add Members</button>
						</div>

						<div class="col-sm-1">
							<a id="" href="" class="btn btn-outline-primary styleButtonReset">Reload</a>
						</div>

						<div class="col-sm-1">
							<a id="" href="" class="btn btn-outline-primary styleButtonBack">
								Back</a>
						</div>


					</div>
				</div>
			</div>
		</div>
		<footer>
			<div class="footer2">
				<i><b>A2Z Team</b></i>
			</div>
		</footer>

	</article>

	<script type="text/javascript">
		$(function () {
			window.pagObj = $('#pagination').twbsPagination({
				totalPages: 35,
				visiblePages: 5,
				onPageClick: function (event, page) {
					console.info(page + ' (from options)');
				}
			}).on('page', function (event, page) {
				console.info(page + ' (from event listening)');
			});
		});
	</script>

	<script src="text/javascript">
		$(document).ready(function () {

		});
	</script>
</body>

</html>